#root {
  max-width: 1280px;
  margin: 0 auto;
  

}


.active-page  {
  color: #1E293B;
  font-weight: bold;
}
.not-active-page {
  background-color: #1E293B;
}

.not-active-page:hover {
  background-color: #43546e;
}